[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysql-connector-python = "*"
python-dotenv = "*"
pymysql = "*"
cryptography = "*"
flask-cors = "*"
flask-cognito = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.9"
